/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/public/*
/storage/framework/*
/storage/logs/*
!/storage/app/public/.gitkeep
!/storage/framework/.gitkeep
!/storage/logs/.gitkeep
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep
/vendor
.env
.env.backup
.env.local
.env.*.local
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea
.vscode
*.swp
*.swo
*~
.project
.settings/
*.iml
.gradle
/local.properties
.cph/
*.pem
*.pem
storage/logs/laravel.log
bootstrap/cache/packages.php
bootstrap/cache/services.php
.env.*.php
public/css/
public/js/
mix-manifest.json
